html {
  color: white;
  postition: relative;
  background: url('../img/calendar-slide1.jpg') no-repeat 60% center fixed;
  background-position: cover; }
  @media (max-width: 45em) { }

.content {
  margin-left: 20%;
  float: left;
  width: 80%;
  max-width: 1000px;
  padding: 100px 50px; }
  @media (max-width: 70em) {
    .content {
      padding: 20px;
      margin-left: 200px;
      width: 800px; } }
  @media (max-width: 45em) {
    .content {
      float: none;
      width: 100%;
      padding: 0;
      margin-left: 0; } }

.content-int {
  padding: 20px;
  background: rgba(0, 0, 0, 0.5); }

/*======================================================== 
header 
==========================================================*/
.header {
  z-index: 10;
  width: 20%;
  min-width: 200px;
  background: #8DABE7;
  position: fixed;
  top: 0;
  bottom: 0; }

/* business information across the top of header */
.business-info {
  background: #026596;
  padding: 5px 10px; }
  .business-info a {
    color: lightgrey; }
  .business-info .top-wdgt-l {
    color: white;
    float: left; }
  .business-info .top-wdgt-r {
    color: lightgrey; }
  .business-info li {
    display: inline-block;
    margin-left: 20px;
    color: white; }

/* ==============================================================
logo
================================================================= */
.logo {
  width: 150px;
  display: block;
  position: relative;
  padding: 10px; }
  .logo a:hover {
    color: black !important; }

.logo-img {
  margin: 0; }

/* ============================================================
nav 
================================================================*/
.nav {
  padding: 40px 0;
  display: block;
  z-index: 10; }
  .nav ul {
    margin: 0;
    padding: 0;
    width: 100%; }
  .nav li {
    position: relative;
    display: block;
    margin-left: -4px;
    border-bottom: solid 1px white; }
    .nav li a {
      display: block;
      color: white;
      padding: 18px 30px;
      text-transform: uppercase;
      font-size: 14px;
      position: relative; }
  .nav a:hover {
    background: #026596; }
  .nav ul.sub-menu {
    display: none; }
    .nav ul.sub-menu a {
      padding: 10px;
      width: 300px; }

.nav ul li:hover > ul.sub-menu {
  display: block;
  z-index: 99;
  position: absolute;
  top: 30px;
  margin: 0px 0px 0px -16px;
  padding: 0px;
  border: 1px #808080 solid;
  background-color: #fff;
  width: 300px; }

.current_page_item a {
  color: black; }

/*=============================================================
banner
===============================================================*/
.banner-home {
  /* height: 420px; */
  background: url('./img/bkg-1.jpg');
  background-size: cover; }

/* ===============================================================
footer items
=================================================================== */
.footer-items {
  background: #e5e5e5;
  border-top: solid 1px #F2F2F2;
  color: #525252; }

/*=============================================================== 
footer 
================================================================*/
footer {
  width: 80%;
  right: 0;
  position: fixed;
  bottom: 0;
  background: #026596;
  text-align: center;
  color: white;
  font-size: 12px; }
  footer a {
    color: white; }
  @media (max-width: 45em) {
    footer {
      position: relative;
      width: 100%;
      padding: 0;
      margin-left: 0; } }

/* ==========================================================================
   =COLOR
   ========================================================================== */
.swatch {
  height: 5em; }

.color-1 {
  background: #8DABE7; }

.color-2 {
  background: #026596; }

.color-3 {
  background: #e5e5e5; }

.color-4 {
  background: #F7A710; }

.color-5 {
  background: #9370E9; }

.color-6 {
  background: #DDD5F8; }

/* ===========================================================================
  typography
  =========================================================================== */
.headline-1 {
  color: #026596;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 53px; }

.title-1 {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 42px; }

.title-2 {
  display: block;
  font: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 22px; }

/* ==========================================================================
   = User input
   ========================================================================== */
.ws-form {
  margin-top: -1.5em; }

input, textarea {
  /* Use for styling text based form elements, like name, email, password. 
  Button/submit specific styles below, those will override */
  display: block;
  padding: 0.5em;
  margin-bottom: 0.75em;
  border: 0.1em solid lightgrey;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  resize: none; }

input:focus, textarea:focus {
  outline: none;
  border-color: #8DABE7; }

input[type='button'], input[type='submit'], button, .button {
  border: none;
  background: transparent;
  line-height: 1;
  cursor: pointer;
  padding: 1em 1.5em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  margin-bottom: 0.75em;
  margin-bottom: 0.75rem; }

.form-btn-1 {
  color: white;
  background: #026596 !important; }

.btn-1 {
  color: white;
  background: #026596; }

.btn-1:hover {
  background: #026596; }

.btn-1:focus, .btn-1:active {
  background: #026596; }

.btn-2 {
  color: white;
  background: #F7A710; }

.btn-2:hover {
  background: #F7A710; }

.btn-2:focus, .btn-2:active {
  background: #F7A710; }

.btn-3 {
  font-size: 0.875em;
  background: #e5e5e5; }

.btn-3:hover {
  background: #e5e5e5; }

.btn-3:focus, .btn-3:active {
  background: #e5e5e5; }

/* ==========================================================================
   =ADJECTIVES
   ========================================================================== */
.ws-adjectives div {
  font-size: 1.5em;
  padding-bottom: 0.25em; }

/* ==========================================================================
   =COLOPHON
   ========================================================================== */
.colophon {
  clear: both;
  text-align: center;
  font-size: 0.875em;
  padding: 1.714em 0;
  border-top: thin solid #eee;
  margin-top: 1.714em; }

/* =========================================================================
   =objects
   ========================================================================= */
.img-1 {
  padding: 10px;
  background: #e5e5e5;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21); }
